<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
   <appender name="SystemLogAppender" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="/usr/local/tomcat/logs/ridaizu-taobao.log" />
      <param name="MaxFileSize" value="30MB" />
      <param name="MaxBackupIndex" value="10" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss}[%x][%-5p]%m %C{1}#%M():%L行目%n"/>
      </layout>
   </appender>
   <logger name="system" additivity="false">
      <level value="debug" />
      <appender-ref ref="SystemLogAppender" />
   </logger>
   <root>
      <level value="debug"/>
      <appender-ref ref="SystemLogAppender" />
   </root>
</log4j:configuration>
